@import "../../app.scss";
.work {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, white, #9b9b9b);
    color: #161616;
    overflow: hidden;

    .text {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        

        font-size: 8rem;
        letter-spacing: 0.6rem;
        font-weight: 400;

        @include mobile {
            font-size: 2rem;
            margin: auto;
            margin-top: 100px;
        }
        @include tablet {
            font-size: 2rem;
            margin: auto;
            margin-top: 100px;
          
        }
    }
}

